<!DOCTYPE html>
<html>
<head>
  <title>Learning_template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

  <nav class='navbar navbar-inverse navbar-static-top'>
    <div class='container-fluid' >
        <div class="navbar-header">
          <a class='navbar-brand' href="{% url 'index' %}" > Home </a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li> <a class='navbar-link' href="{% url 'basic_app:other' %}" >Other</a></li>
            <li> <a class='navbar-link' href="{% url 'admin:index' %}" >Admin</a></li>
          </ul>
        </div>

    </div>
  </nav>

  <div class="containar">
    {% block body_block%}
    {% endblock %}
  </div>

</body>
